* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.no-scroll {
    overflow: hidden;
}

.bg_black {
    background-color: #000;
}

.btn {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

/* Typography */

h1 {
    font-size: 46px;
}

h2 {
    font-size: 24px;    
}

h1,
h2,
h3 {
    font-weight: 300;
}

h3 {
    font-size: 30px;
}

p {
    font-weight: 200;
    font-size: 16px;
    line-height: 2;
}

/* End typografy */

img {
    max-width: 100%;
}

.grid {
    width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    padding: 0 15px;
}

.col:first-child {
    padding-left: 0;
}

.col:last-child {
    padding-right: 0;
}

.col-1-2 {
    width: 50%;
}

.col-5-12 {
    width: 41.66%;
}   

.col-7-12 {
    width: 58.33%;
}

.col-1-4 {
    width: 25%;
}

.col-1-6 {
    width: 16.66%;
}


/* Hero */

.hero {
    background-image: url('../img/hero_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.hero-box {
    background: linear-gradient(to bottom, rgba(0,0,0,0.68) 0%, rgba(0,0,0,1) 100%);
}

.hero__top {
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.mobile-menu {
    display: none;
}

.navigation {

}

.navigation__list {
    list-style: none;
} 

.navigation__item {
    display: inline-block;
    margin-right: 45px;
}

.navigation__item:last-child {
    margin: 0;
}

.navigation__link {
    display: inline;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.navigation__link:hover {
    color: #ef4836;
}

.hero__content {
    padding-top: 220px;
}

.hero__image {
    padding-right: 100px;
}

.content-box {
    margin-left: -30px;
}

.content__title {
    padding-bottom: 45px;
    line-height: 1.4;
    text-transform: uppercase;
}

.content__discription {
    padding: 0 70px 50px 0;
}

/* End hero */

/* About */

.about {
    padding-top: 200px;
}

.about_row {
    padding: 150px 0;
    background-image: url('../img/about_row_bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-box {
    padding: 0 60px 0 65px;
}

.about__discription {
    padding: 0 60px 50px 65px;
}

.about__btn-box {
    padding: 0 0 0 65px;
}

.about-img {
    position: relative;
}

.about__image {
    position: absolute;
    top: -270px;
    left: 0;
    padding: 0 84px 0 18px;
}
/* End about */


/* Services */

.services-row {
    padding: 180px 0 170px;
}

.services__title {
    padding-bottom: 40px;
}

.services__discriprion {
    padding-bottom: 30px;
}

.services__discriprion p {
    font-size: 14px;
}

/* End services */

/* Gallery */

.gallery__list {
    padding: 0 115px 20px 0;
    list-style: none;
    text-align: right;
}

.gallery__item {
    display: inline;
    margin-right: 40px;
}

.gallery__button {
    font-size: 14px;
    border-radius: 0;
    border: none;
    background-color: transparent;
    color: #3b3b3b;
}

.gallery__button:hover {
    color: #fff;
    cursor: pointer;
}

.gallery__item:last-child {
    margin-right: 0;
}

.grid-filter {
   
    margin: 0 auto;
}

.filter {
    font-size: 0;
}

/* End gallery */

/* Testimonial */

.testimonial {
    padding-top: 195px;
}

.slider-box {
    padding: 55px 0;
    display: flex;
}

.slider__bg {
    position: relative;
    background-color: #ef4836;
}

.slider__image {
    position: absolute;
    top: -35px;
    left: 0;
    z-index: 10;
    padding: 0 16px 0 85px;
}

.slider__wrapper {
    padding: 150px 70px 150px 0 ;
}

.slider__discription {
    padding-bottom: 35px;
    font-style: italic;
}
/* slider arrow */

.slick-prev {
    left: 90%;
    top: 75%;
    z-index: 15;
}

.slick-next {
    left: 93%;
    top: 75%;
    z-index: 15;
}

/* end slider arrow */

/* End testimonial */

/* logo-block */

.logo-block {
    padding: 100px 0;
}

.logo-box {
    align-items: center;
    text-align: center;
    opacity: 0.5;
}

/* end logo-block */

/* Contact */

.bg_gray {
    background-color: #131313;
}

.contact_bg {
    background-image: url('../img/contact_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
}

.contact__box {
    padding: 75px 75px 70px;
    background-color: #2260b6;
    opacity: 0.98;
}

.contact__title {
    padding-bottom: 20px;

    font-size: 20px;
    font-weight: 700;
}

.contact__discription span {
    display: block;
    font-size: 14px;
    font-weight: 300;
}

.email {
    padding-bottom: 45px;
}

.phone,
.address {
    padding-bottom: 5px;
}

.phone:last-child {
    padding-bottom: 40px;
}

.address:last-child {
    padding-bottom: 0;
}

.form__box {
    padding: 50px 0 50px 30px;
}


textarea[placeholder],
input[placeholder] {
    padding: 16px 11px;
    width: 70%;
    font-size: 16px;
    font-weight: 300;
    color: #525252;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #525252;
    outline: none;
}

textarea[placeholder]:focus,
input[placeholder]:focus {
    color: #2866bd;
    border-bottom: 1px solid #2866bd;
}

:focus::-webkit-input-placeholder {color: #2866bd;}
:focus::-moz-placeholder {color: #2866bd;}
:focus:-moz-placeholder {color: #2866bd;}
:focus:-ms-input-placeholder  {color: #2866bd;}

textarea {
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    resize: none;
}

.form__btn {
    display: block;
    background-color: transparent;
    border: none;
    color: #ef4836;
    outline: none;
}

.form__btn:hover {
    cursor: pointer;
}

/* End contact */

/* Footer */
.footer {
    padding: 50px 0;
}

.footer-row {
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    margin-right: 15px;
}

.footer-box {
    display: flex;
    align-items: center;
}

.social__list {
    list-style: none;
}

.social__item {
    display: inline;
    margin: 5px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.social__link:hover {
    color: #2866bd;
}
/* End footer */

@media all and (min-width: 1024px) and (max-width: 1199px) {

    .grid {
        width: 90%;
    }

    .hero__top {
        padding-top: 25px;
    }

    .navigation__item {
        margin-right: 15px;
    }

    .hero__content {
        padding-top: 120px;
    }

    .hero__image {
        padding: 0;
    }

    .content-box {
        margin: 0;
    }

    .content__title {
        width: 100%;
        padding-bottom: 20px;
    }

    .content__discription {
        padding: 0 0 20px 0;
    }

    .about_row {
        padding: 100px 0;
    }

    .services-row {
        padding: 130px 0 130px;
    }

    .testimonial {
        padding-top: 100px;
    }
    .slider__image {
        position: static;
        padding: 0;
    }

    .logo-block {
        padding: 80px 0;
    }
}

@media all and (min-width: 681px) and (max-width: 1023px) {
    .grid {
        width: 90%;
    }

    .hero__top {
        padding-top: 25px;
    }

    .navigation__item {
        margin-right: 15px;
    }

    .hero__content {
        padding-top: 50px;
    }

    .hero__image {
        padding: 0;
    }

    .content-box {
        margin: 0;
    }

    .content__title {
        width: 100%;
        padding-bottom: 20px;
    }

    .content__discription {
        padding: 0 0 20px 0;
    }

    .about {
        padding-top: 50px;
    }

    .about_row {
        padding: 50px 0;
    }
    
    .about__image {
        position: static;
        padding: 0 10px  0;
    }

    .about__discription {
        padding: 0 30px 25px 15px;
    }

    .about__btn-box {
        padding: 0 0 0 15px;
    }

    .services-row {
        padding: 80px 0 70px;
    }
    
    .services__title {
        padding-bottom: 20px;
    }
    
    .services__discriprion {
        padding-bottom: 10px;
    }

    .testimonial {
        padding-top: 50px;
    }
    .slider__image {
        position: static;
        padding: 0;
    }

    .slider__wrapper {
        padding: 30px 70px 30px 0;
    }
    
    .logo-block {
        padding: 20px 0;
    }

    .contact__box {
        padding: 30px 30px 62px;
    }
}

@media all and (min-width: 120px) and (max-width: 680px) {
    .grid {
        width: 95%;
    }

    h1 {
        font-size: 36px;
    }

    .row {
        display: block;
    }

    .col-1-2,
    .col {
        width: 100%;
        padding: 0;
        
    }

    .hero__top {
        position: fixed;
        padding-top: 10px;
        width: 90%;
        z-index: 999;
    }

    .navigation__list {
        display: none;
    }

    .mobile-menu {
        display: block;
        z-index: 99;
    }

    .is-active {
        display: block;
        width: 100%;
        height: 100%;
        padding: 150px 0;
        position: fixed;
        left: 0;
        top: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, .55);
    }

    .navigation__item {
        display: block;
        margin: 0;
        padding-bottom: 20px;
    }

    .icon-menu::before {
        font-size: 36px;
    }

    .hero__content {
        padding-top: 70px;
    }

    .hero__image {
        padding: 0;
        text-align: center;
    }

    .content-box {
        margin: 0;
    }

    .content__title {
        text-align: center;
    }

    .content__discription {
        padding: 0 0 20px 0 ;
        text-align: justify;
    }

    .hero__btn-box {
        text-align: center;
    }

    .btn {
        display: block;
        padding: 5px 0;
        text-align: center;
        border: 2px solid #fff;
        border-radius: 20px;
    }

    .about {
        padding-top: 20px;
    }

    .about_row {
        padding: 20px 0;
    }

    .about__discription {
        padding: 0 5px 10px 5px;
        text-align: justify;
    }

    .about__btn-box {
        padding: 0 0 10px 0;
        text-align: center;
    }

    .about__image {
        position: static;
        padding: 0;
    }

    .about__image img {
        width: 100%;
    } 

    .services-row {
        padding: 20px 0 20px;
    }
    
    .services__title {
        padding-bottom: 20px;
        text-align: center;
    }
    
    .services__discriprion {
        padding-bottom: 10px;
    }

    .services__btn {
        padding-bottom: 10px;
    }

    .testimonial {
        padding-top: 20px;
    }

    .slider__image {
        position: static;
        padding: 0;
    }

    .slider__wrapper {
        padding: 20px 5px;
        text-align: justify;
    }

    .slider-box {
        padding: 0;
    }

    .slick-slide img {
        width: 100%;
    }

    .slick-prev {
        left: -5%;
        top: 50%;
    }

    .slick-next {
        left: 100%;
        top: 50%;
    }

    .logo-block {
        padding: 10px 0;
    }

    .logo-box {
        display: flex;
    }

    .form__box {
        padding: 0;
    }
    .form__title {
        padding-top: 5px;
        text-align: center;
    }

    textarea[placeholder],
    input[placeholder] {
        width: 100%;
    }

    .form__btn {
        width: 100%;
        border: 1px solid #ef4836;
    } 
}